.offer-card {
  width: 370px;
  border-radius: 6px;
  border: 1px solid $card-border;

  @media (min-width: $tablet-width) {
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 672px;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    min-height: 672px;
    // display: flex;
    // flex-direction: column;
    justify-content: space-around;
  }
}


.offer-card__button {
  background-color: $button-orange;
  color: $text-white;
  border: none;
  display: flex;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 25px 70px;
    font-size: 10px;
    line-height: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 310px;
    padding: 25px 70px;
    font-size: 12px;
    line-height: 15px;
    margin: 0 auto;
  }
}

.offer-card__title {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 34px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin: 40px 30px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.offer-card__content {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $description-grey;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 0 13px;
  }

  @media(min-width: $desktop-width) {
    margin: 0 30px;
    text-align: left;
  }
}

.offer-card__list {
  color: $description-grey;
  padding: 0;
}
