.review {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
    background: url("../../img/greece-tablet-img.jpg") no-repeat;
    background-size: 100% 415px;
    min-height: 415px;
    display: flex;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    background: url("../../img/greece-img.jpg") no-repeat;
    background-size: 430px 596px;
    min-height: 430px;
    display: flex;
    align-items: center;
  }

  &--albania {
    @media (min-width: $desktop-width) {
      background: url("../../img/albania-description-img.jpg") no-repeat;
    }
  }
  &--macedonia {
    @media (min-width: $desktop-width) {
      background: url("../../img/macedonia-description-img.jpg") no-repeat;
    }
  }
  &--montenegro {
    @media (min-width: $desktop-width) {
      background: url("../../img/montenegro-description-img.jpg") no-repeat;
    }
  }
  &--croatia {
    @media (min-width: $desktop-width) {
      background: url("../../img/croatia-description-img.jpg") no-repeat;
    }
  }
}
