.visit-section__wrapper {
  margin: 0 auto;

  @media (min-width: $mobile-width) {
    width: $mobile-width;
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media(min-width: $desktop-width) {
    width: $desktop-content-width;
  }
}

.visit-section__title {

  @media (min-width: $mobile-width) {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    @include section-title;
    padding-right: 50px;
    width: 500px;
    text-align: left;
  }
}

hr {
  border: 1px solid $button-orange;
  background-color: $button-orange;
  width: 228px;
  margin-left: 0;

  @media (min-width: $mobile-width) {
    display: none;
  }
}

.visit-section__content {
  font-size: 16px;
  line-height: 28px;
  color: $text-grey;
  margin-bottom: 46px;

  @media(min-width: $mobile-width) {
    padding: 0 16px;
    text-align: center;
  }

  @media(min-width: $tablet-width) {
    padding: 0 190px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 0;
    width: 390px;
  }
}

br {
  @media(max-width: $desktop-width) {
    display: none;
  }
}
