@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/montserrat-medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/montserrat-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/montserrat-semibold.woff") format("woff");
}
