// viewports

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
$desktop-content-width: 1170px;


// variables

$button-orange: #FE7865;
$text-grey: rgba(20, 21, 23, 0.5);
$text-black: #141517;
$text-white: #FFFFFF;
$description-grey: #2C2E3F;
$card-border: rgba(44, 46, 63, 0.3);
$review-text: rgba(44, 46, 63, 0.7);
$purchase-modal-white: #F8F8F8;
$purchase-modal-title: #48494D;

